/*WRITTEN BY OZENUA OLUWATOBI*/

/*for the sections*/

div.section-one {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 58px;
}

div.section-two {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 275px;
}

div.section-three {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 275px;
}

div.section-four {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 275px;
}